[phases.setup]
aptPkgs = [
  "chromium",
  "chromium-sandbox",
  "nss",
  "freetype",
  "harfbuzz",
  "ca-certificates",
  "ttf-freefont",
  "libglib2.0-0",
  "libnss3",
  "libnspr4",
  "libatk1.0-0",
  "libatk-bridge2.0-0",
  "libcups2",
  "libdrm2",
  "libdbus-1-3",
  "libxkbcommon0",
  "libxcomposite1",
  "libxdamage1",
  "libxfixes3",
  "libxrandr2",
  "libgbm1",
  "libpango-1.0-0",
  "libcairo2",
  "libasound2"
]
